<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 
        
        style
            include style.css
            include semantic.css
    body(style = 'background-image: linear-gradient(to right top, #21f217, #00dba4, #00baff, #008eff, #0e48ed);')
                    center 
                        div(class="ui sizer vertical segment")
                            div(class="ui huge header" id='pname')=provinceData["name"]
                            

                    img(src= provinceData["Images"][1] style='width:100%;height:auto;')
                    center
                        img(src= provinceData["Images"][0] style='width:50%;height:auto;') 
                        img(src= provinceData["Images"][2] style='width:50%;height:auto;')
                    hr
                    center
                        h1= provinceData["group"]
                    hr
                    br
                    center
                        strong
                            label Delicacies: 
                        br
                        br
                        p= provinceData["Delicacies"][0]
                        p= provinceData["Delicacies"][1] 
                        p= provinceData["Delicacies"][2]

                    hr
                    br
                    div(class="ui equal width grid")
                        center
                            div(class = "ten wide column")
                                p= provinceData["write_ups"]
                    br
                    hr
                    center  
                        h1 Rating:
                        h2= provinceData["rating"] 
                        br
                        br
                        div(class="ui buttons")
                            button(class = "ui red  button" value='1' id='btn1') one
                            button(class = "ui blue button" value= '2' id='btn2') two
                            button(class = "ui green button" value='3' id='btn3') three
                            button(class = "ui orange button" value = '4' id='btn4') four
                            button(class = "ui yellow button" value= '5' id='btn5') Five
    script(src="/rating.js")
                      
