<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
                    center 
                        h1= provinceData["name"]
                        
                    img(src= provinceData["Images"][1] style='width:100%;height:auto;')  
                    img(src= provinceData["Images"][0] style='width:50%;height:auto;') 
                    img(src= provinceData["Images"][2] style='width:49%;height:auto;')
                
                    h1= provinceData["group"]
                    
                    strong
                        label Delicacies:
                    p= provinceData["Delicacies"][0]
                    p= provinceData["Delicacies"][1] 
                    p= provinceData["Delicacies"][2]
                    p= provinceData["write_ups"]   